<!doctype html>
<html>
  <head>
    <script type="module">
      import { createApp } from 'https://unpkg.com/petite-vue?module';
      const pokeapi = async (url) => await fetch(url).then(data => data.json());
      
      const STORAGE_KEY = 'vocodex-pokemons'
      const pokemonStorage = {
        fetch: () => JSON.parse(localStorage.getItem(STORAGE_KEY) || '{}'),
        save: (pokemons) => localStorage.setItem(STORAGE_KEY, JSON.stringify(pokemons))
      }
          
      createApp({
        title: 'Vocodex v0.1',
        pokemons: [],
        async getPokemons() {
          this.pokemons = pokemonStorage.fetch();
          const pokemonNames = (await pokeapi("https://pokeapi.co/api/v2/pokemon?limit=100000&offset=0")).results;
          if (pokemonNames.length === this.pokemons.length) return;  // No need to update pokemon data
      
          const pokemonForms = await Promise.all(pokemonNames.map(({name}) => pokeapi("https://pokeapi.co/api/v2/pokemon-form/"+name)));
          this.pokemons = pokemonSpecies.map((pokemon, index) => ({
            name: pokemon.names.find(({language}) => language.name === "fr")?.name || '???',
            sprite: pokemon.sprites.front_default,
            voxMeter: this.pokemons[index]?.voxMeter || 0
          }));
        },
        onMount() {
          this.getPokemons();
        },
        save() {
          pokemonStorage.save(this.pokemons);
        }
      }).mount();
    </script>
  </head>
  <body>    
    <div v-scope @vue:mounted="onMount" v-effect="save()" v-cloak>
      <h1>{{title}}</h1>
      <ol>
        <li v-for="pokemon in pokemons">
          <span class="title">{{pokemon.name}}</span>
          <img :src="pokemon.sprite">
          <input type="range" min="0" max="3" v-model="pokemon.voxMeter">
        </li>
      </ol>
    </div>
  </body>
</html>
